In [1]:
import os

# List files in the root directory
print(os.listdir('.'))

['Untitled.ipynb', '.ipynb_checkpoints', 'Untitled1.ipynb', 'Untitled2.ipynb', 'People Data.csv']

In [2]:
file_path = 'People Data.csv'

In [3]:
import pandas as pd

# Load the CSV file
file_path = 'People Data.csv'
data = pd.read_csv(file_path)

# Display the data types and attributes
print(data.dtypes)
print(data.head())

Index             int64
User Id          object
First Name       object
Last Name        object
Gender           object
Email            object
Phone            object
Date of birth    object
Job Title        object
Salary            int64
dtype: object
   Index          User Id First Name Last Name  Gender  \
0      1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1      2  3d5AD30A4cD38ed         Jo    Rivers  Female
2      3  810Ce0F276Badec     Sheryl    Lowery  Female
3      4  BF2a889C00f0cE1    Whitney    Hooper    Male
4      5  9afFEafAe1CBBB9    Lindsey      Rice  Female

                           Email               Phone Date of birth  \
0            pwarner@example.org        857.139.8239    27-01-2014
1  fergusonkatherine@example.net                 NaN    26-07-1931
2            fhoward@example.org       (599)782-0605    25-11-2013
3          zjohnston@example.com                 NaN    17-11-2012
4               elin@example.net  (390)417-1635x3010    15-04-1923

                  Job Title  Salary
0         Probation officer   90000
1                    Dancer   80000
2                      Copy   50000
3  Counselling psychologist   65000
4       Biomedical engineer  100000

In [4]:
## Q7.Clean and transform the 'Phone' column in the sample dataset to remove 
## non-numeric characters and convert it to a numeric data type.
## Also display the table attributes and data types of each column.
import pandas as pd
import re

file_path = 'People Data.csv'
data = pd.read_csv(file_path)

# Function to clean phone numbers
def clean_phone_number(phone):
    if pd.isna(phone):
        return None
    # Remove non-numeric characters
    cleaned_phone = ''.join(filter(str.isdigit, str(phone)))
    return int(cleaned_phone) if cleaned_phone else None

# Apply the function to the 'Phone' column
data['Phone'] = data['Phone'].apply(clean_phone_number).astype('Int64')

# Display the updated DataFrame and data types of each column
print(data.head())
print(data.dtypes)

   Index          User Id First Name Last Name  Gender  \
0      1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1      2  3d5AD30A4cD38ed         Jo    Rivers  Female
2      3  810Ce0F276Badec     Sheryl    Lowery  Female
3      4  BF2a889C00f0cE1    Whitney    Hooper    Male
4      5  9afFEafAe1CBBB9    Lindsey      Rice  Female

                           Email           Phone Date of birth  \
0            pwarner@example.org      8571398239    27-01-2014
1  fergusonkatherine@example.net            <NA>    26-07-1931
2            fhoward@example.org      5997820605    25-11-2013
3          zjohnston@example.com            <NA>    17-11-2012
4               elin@example.net  39041716353010    15-04-1923

                  Job Title  Salary
0         Probation officer   90000
1                    Dancer   80000
2                      Copy   50000
3  Counselling psychologist   65000
4       Biomedical engineer  100000
Index             int64
User Id          object
First Name       object
Last Name        object
Gender           object
Email            object
Phone             Int64
Date of birth    object
Job Title        object
Salary            int64
dtype: object

In [5]:
## Q8. Perform the following tasks using people dataset:
##a) Read the 'data.csv' file using pandas, skipping the first 50 rows. 
##b) Only read the columns: 'Last Name', ‘Gender’, ’Email’, ‘Phone’ and ‘Salary’ from the file. 
##c) Display the first 10 rows of the filtered dataset.  
##d) Extract the ‘Salary’' column as a Series and display its last 5 values.
## SOLUTION --
import pandas as pd

# Task a: Read the 'People Data.csv' file, skipping the first 50 rows
file_path = 'People Data.csv'
people_data_skip = pd.read_csv(file_path, skiprows=range(1, 51))

# Task b: Only read the specified columns
columns_to_read = ['Last Name', 'Gender', 'Email', 'Phone', 'Salary']
filtered_data = people_data_skip[columns_to_read]

# Task c: Display the first 10 rows of the filtered dataset
first_10_rows = filtered_data.head(10)
print(first_10_rows)

# Task d: Extract the ‘Salary’ column as a Series and display its last 5 values
salary_series = filtered_data['Salary']
last_5_salaries = salary_series.tail(5)
print(last_5_salaries)

  Last Name  Gender                       Email                   Phone  \
0    Zavala    Male        pamela64@example.net  001-859-448-9935x54536
1     Carey  Female   dianashepherd@example.net    001-274-739-8470x814
2     Hobbs  Female   ingramtiffany@example.org        241.179.9509x498
3    Reilly    Male  carriecrawford@example.org       207.797.8345x6177
4    Conrad    Male  fuentesclaudia@example.net    001-599-042-7428x143
5      Cole    Male      kaneaudrey@example.org            663-280-5834
6   Donovan    Male   rebekahsantos@example.net                     NaN
7    Little  Female         craig28@example.com       125.219.3673x0076
8    Dawson  Female  connercourtney@example.net      650-748-3069x64529
9      Page    Male  harrygallagher@example.com        849.500.6331x717

   Salary
0   80000
1   70000
2   60000
3  100000
4   50000
5   85000
6   65000
7   60000
8   60000
9   60000
945     90000
946     50000
947     60000
948    100000
949     90000
Name: Salary, dtype: int64

In [6]:
##Q9. Filter and select rows from the People_Dataset, where the “Last Name' column contains the name 'Duke',  'Gender' column contains the word Female and ‘Salary’ should Pe less than 85000
## solution -- 
import pandas as pd

# Read the 'People Data.csv' file
file_path = 'People Data.csv'
people_data = pd.read_csv(file_path)

# Filter the dataset based on the given conditions
filtered_data = people_data[
    (people_data['Last Name'] == 'Duke') & 
    (people_data['Gender'] == 'Female') & 
    (people_data['Salary'] < 85000)
]

# Display the filtered dataset
print(filtered_data)

     Index          User Id First Name Last Name  Gender  \
45      46  99A502C175C4EBd     Olivia      Duke  Female
210    211  DF17975CC0a0373    Katrina      Duke  Female
457    458  dcE1B7DE83c1076      Traci      Duke  Female
729    730  c9b482D7aa3e682     Lonnie      Duke  Female

                        Email                   Phone Date of birth  \
45        diana26@example.net  001-366-475-8607x04350    13-10-1934
210       robin78@example.com            740.434.0212    21-09-1935
457  perryhoffman@example.org     +1-903-596-0995x489    11-02-1997
729   kevinkramer@example.net            982.692.6257    12-05-2015

           Job Title  Salary
45           Dentist   60000
210  Producer, radio   50000
457        Herbalist   50000
729     Nurse, adult   70000

In [7]:
##Q12. Perform the following operations using people data set:
##a) Delete the 'Email', 'Phone', and 'Date of birth' columns from the dataset. 
##b) Delete the rows containing any missing values. 
##c) Print the final output also

## solution-- 
import pandas as pd

# Read the 'People Data.csv' file
file_path = 'People Data.csv'
people_data = pd.read_csv(file_path)

# Task a: Delete the 'Email', 'Phone', and 'Date of birth' columns from the dataset
people_data = people_data.drop(columns=['Email', 'Phone', 'Date of birth'])

# Task b: Delete the rows containing any missing values
people_data = people_data.dropna()

# Task c: Print the final output
print(people_data)

     Index          User Id First Name Last Name  Gender  \
0        1  8717bbf45cCDbEe     Shelia   Mahoney    Male
1        2  3d5AD30A4cD38ed         Jo    Rivers  Female
2        3  810Ce0F276Badec     Sheryl    Lowery  Female
3        4  BF2a889C00f0cE1    Whitney    Hooper    Male
4        5  9afFEafAe1CBBB9    Lindsey      Rice  Female
..     ...              ...        ...       ...     ...
995    996  fedF4c7Fd9e7cFa       Kurt    Bryant  Female
996    997  ECddaFEDdEc4FAB      Donna     Barry  Female
997    998  2adde51d8B8979E      Cathy  Mckinney  Female
998    999  Fb2FE369D1E171A   Jermaine    Phelps    Male
999   1000  8b756f6231DDC6e        Lee      Tran  Female

                           Job Title  Salary
0                  Probation officer   90000
1                             Dancer   80000
2                               Copy   50000
3           Counselling psychologist   65000
4                Biomedical engineer  100000
..                               ...     ...
995                Personnel officer   90000
996          Education administrator   50000
997  Commercial/residential surveyor   60000
998                 Ambulance person  100000
999       Nurse, learning disability   90000

[1000 rows x 7 columns]